@namespace SoftwareThingies.KalBlazor.Core
@inherits BaseComponent

<span @attributes="FilteredAdditionalAttributes" class="@CssClass" aria-hidden="true">
    @if (ChildContent is null)
    {
        <span class="flex flex-col gap-1.5">
            <span class="block h-1 w-7 bg-current"></span>
            <span class="block h-1 w-7 bg-current"></span>
            <span class="block h-1 w-7 bg-current"></span>
        </span>
    }
    else
    {
        @ChildContent
    }
</span>
