@page "/"

<KalAppBar Fixed>
    <KalAppBarToggle HorizontalAlignment="KalHorizontalAlignment.Right" />
    <a href="/" class="order-20 text-lg font-semibold text-left">
        KalBlazor
    </a>
    <KalCollapsible HorizontalAlignment="@KalHorizontalAlignment.Left">
        <a href="/" class="font-medium">Home</a>
        <a href="/not-found" class="font-medium">Not found</a>
    </KalCollapsible>
</KalAppBar>
