<div class="flex min-h-14 items-center bg-black/40 px-4">
    <a class="text-lg font-semibold text-white" href="">Example.UI</a>
</div>

<input type="checkbox" title="Navigation menu" class="menu-toggle peer"/>

<div class="hidden peer-checked:block md:block" onclick="document.querySelector('.menu-toggle').click()">
    <nav class="flex flex-col gap-1 p-3 md:h-[calc(100vh-3.5rem)] md:overflow-y-auto">
        <NavLink class="menu-link" href="" Match="NavLinkMatch.All">
            <span class="menu-icon home-icon" aria-hidden="true"></span> Home
        </NavLink>

        <NavLink class="menu-link" href="counter">
            <span class="menu-icon counter-icon" aria-hidden="true"></span> Counter
        </NavLink>

        <NavLink class="menu-link" href="weather">
            <span class="menu-icon weather-icon" aria-hidden="true"></span> Weather
        </NavLink>
    </nav>
</div>
